<h1>Listing page_objects</h1>

<table>
  <tr>
    <th>Urn</th>
  </tr>

<% for page_object in @page_objects %>
  <tr>
    <td><%=h page_object.urn %></td>
    <td><%= link_to 'Show', page_object %></td>
    <td><%= link_to 'Edit', edit_page_object_path(page_object) %></td>
    <td><%= link_to 'Destroy', page_object, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New page_object', new_page_object_path %>
